<div class="org_profile">
    <div class="info">
        <div class="about">
            <div class="urlpht">
                <img src="/pload/{{organization.profile_image}}">
            </div>
            <div class="inn">
                <p class="txt">{{organization.inn}}</p>
            </div>
            <div class="kpp">
                <p class="txt">{{organization.kpp}}</p>
            </div>
            <div class="orgn">
                <p class="txt">{{organization.kpp}}</p>
            </div>
        </div>
        <div class="description">
            <div class="fullname">
                <p class="txt">{{organization.organization_full_name}}</p>
            </div>
            <div class="shortname">
                <p class="txt">{{organization.organization_short_name}}</p>
            </div>
            <div class="dscrpt">
                <p class="txt">{{organization.add_info}}</p>
            </div>
        </div>
        <div class="bio">
            <div class="fio">
                <p class="txt">{{organization.responsible_person_surname}} {{organization.responsible_person_name}}
                    {{organization.responsible_person_patronymic}}</p>
            </div>
            <div class="org_prof_email">
                <p class="txt">{{organization.responsible_person_email}}</p>
            </div>
            <div class="phone">
                <p class="txt">{{organization.responsible_person_phone_number}}</p>
            </div>
        </div>
        <div class="btn">
            <div class="btnSAVE">
                <button>Изменить данные</button>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="title">
            <h3>Мои услуги</h3>
        </div>
        <div class="main">
            {{#each service_detail}}
            <div class="myservices">
                <div class="srvc">
                    <p class="txt">{{this.service_detail_name}}</p>
                </div>
            </div>
            <div class="prices">
                <div class="price">
                    <p class="txt">{{this.service_detail_cost}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="request">
        <div class="title">
            <h3>Мои заявки</h3>
        </div>
        <div class="main">
            <div class="namerequest">
                <div class="nmrqst">
                    <p class="txt">Мойка днища</p>
                </div>

            </div>
            <div class="date">
                <div class="dtrqst">
                    <p class="txt">Дата</p>
                </div>
            </div>
            <div class="number">
                <div class="numbuser">
                    <p class="txt">Телефон пользователя</p>
                </div>
            </div>
            <div class="button_agree">
                <div class="btnagree">
                    <button>Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
</div>