<section id="org_about" class="org_about">
    <div id="org_slot" class="org_slot">
        <div id="org_info" class="org_info">
            <div id="org_img" class="org_img">
                <img src="/upload/{{organization.profile_image}}" alt="Изображение организации">
            </div>
            <div id="org_name" class="org_name">
                <p class="org_nam">{{organization.organization_full_name}}</p>
            </div>
            <div id="org_disc" class="org_disc">
                <div class="org_disc_title">
                    <p>Описание организации:</p>
                </div>
                <div class="org_disc_text">
                    <p class="org_add">{{organization.add_info}}</p>
                </div>
            </div>
        </div>
        <div id="org_service" class="org_service">
            <div class="scrl_bord_top"></div>
            <div class="inner_service_conteiner">
                <div class="service">
                    {{#each service_detail}}
                    <div class="service_title">
                        <h4>Услуга</h4>
                    </div>
                    <div class="service_details">
                        <div class="name_service">
                            <p class="name_service">{{this.service_detail_name}}</p>
                        </div>
                        <div class="price_service">
                            <p class="price_service">{{this.service_detail_cost}}</p>
                        </div>
                        <div class="btn_signup">
                            <a href="/submit_page">
                                <p>Записаться</p>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="scrl_bord_bottom"></div>
        </div>
    </div>
</section>