<div class="org_profile">
    <div class="org_profile_title">
        <h2>Профиль организации</h2>
    </div>
    <div class="org_profile_info">
        <div class="org_profile_info_first">
            <div class="org_profile_img">
                <img src="/upload/{{organization.profile_image}}" alt="Изображение пользователя">
            </div>
            <div class="org_profile_inn">
                <h4 class="org_profile_titles_txt">ИНН:</h4>
                <p class="org_profile_txt">{{organization.inn}}</p>
                <input type="text" class="edit-inn hidden">
            </div>
            <div class="org_profile_kpp">
                <h4 class="org_profile_titles_txt">КПП:</h4>
                <p class="org_profile_txt">{{organization.kpp}}</p>
                <input type="text" class="edit-kpp hidden">
            </div>
            <div class="org_profile_ogrn">
                <h4 class="org_profile_titles_txt">ОГРН:</h4>
                <p class="org_profile_txt">{{organization.ogrn}}</p>
                <input type="text" class="edit-ogrn hidden">
            </div>
        </div>
        <div class="org_profile_info_second">
            <div class="org_profile_fullname">
                <h4 class="org_profile_titles_txt">Полное имя:</h4>
                <p class="org_profile_txt">{{organization.organization_full_name}}</p>
                <input type="text" class="edit-fullname hidden">
            </div>
            <div class="org_profile_shortname">
                <h4 class="org_profile_titles_txt">Краткое имя:</h4>
                <p class="org_profile_txt">{{organization.organization_short_name}}</p>
                <input type="text" class="edit-shortname hidden">
            </div>
            <div class="org_profile_discription">
                <h4 class="org_profile_titles_txt">Описание:</h4>
                <p class="org_profile_txt">{{organization.add_info}}</p>
                <textarea name="discrpt" id="discrpt" maxlength="350" cols="30" rows="5"
                    class="edit-dscrpt hidden"></textarea>
            </div>

        </div>
        <div class="org_profile_info_third">
            <div class="org_profile_secondname">
                <h4 class="org_profile_titles_txt">Фамилия:</h4>
                <p class="org_profile_txt">{{organization.responsible_person_surname}}</p>
                <input type="text" class="edit-surname hidden">
            </div>
            <div class="org_profile_name">
                <h4 class="org_profile_titles_txt">Имя:</h4>
                <p class="org_profile_txt">{{organization.responsible_person_name}}</p>
                <input type="text" class="edit-name hidden">
            </div>
            <div class="org_profile_thirdname">
                <h4 class="org_profile_titles_txt">Отчество:</h4>
                <p class="org_profile_txt">{{organization.responsible_person_patronymic}}</p>
                <input type="text" class="edit-patronymic hidden">
            </div>
            <div class="org_profile_email">
                <h4 class="org_profile_titles_txt">Email:</h4>
                <p class="org_profile_txt">{{organization.responsible_person_email}}</p>
                <input type="text" class="edit-email hidden">
            </div>
            <div class="org_profile_phone">
                <h4 class="org_profile_titles_txt">Номер телефона:</h4>
                <p class="org_profile_txt">{{organization.responsible_person_phone_number}}</p>
                <input type="text" class="edit-phone hidden">
            </div>
            <div class="org_profile_info_button">
                <button onclick="toggleEdit()">Изменить данные</button>
            </div>
        </div>

    </div>
    <div class="org_profile_mywork">
        <div class="org_profile_services">
            <div class="org_profile_services_title">
                <h2>Мои услуги</h2>
            </div>
            <div class="gonvo">
                <div class="org_profile_services_main">
                    <div class="org_prof_srvc_col">
                        {{#each service_detail}}
                        <div class="org_profile_service">
                            <div class="org_profile_service_name">
                                <p class="org_profile_txt">{{this.service_detail_name}}</p>
                            </div>
                            <div class="org_profile_service_price">
                                <p class="org_profile_txt">{{this.service_detail_cost}}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="org_profile_service_button_add">
                        <button>
                            <p>Добавить услугу</p>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="org_profile_requests">
            <div class="org_profile_requests_title">
                <h2>Мои заявки</h2>
            </div>
            <div class="org_profile_requests_main">
            {{#each org_profile_applications_data}}
                <div class="org_profile_request">
                    <div class="namerequest">
                        <p class="org_profile_txt">{{this.service_detail_name}}</p>
                    </div>
                    <div class="daterequest">
                        <p class="org_profile_txt">{{this.date_service}}</p>
                    </div>
                    <div class="phonerequest">
                        <p class="org_profile_txt">{{this.email}}</p>
                    </div>
                    <div class="buttonrequest"><button>Подтвердить</button></div>
                </div>
            {{/each}}
            </div>
        </div>
    </div>

</div>
<script>
    function saveData() {
        // Создаем объект FormData для сбора данных из полей
        var formData = new FormData();

        // Добавляем данные из каждого поля в объект FormData
        for (var i = 0; i < fields.length; i++) {
            var field = fields[i];
            var inputElement = document.querySelector(field.inputSelector);
            var errorMessage = validateInput(inputElement, field.inputSelector);
            if (errorMessage === '') {
                formData.append(field.inputSelector.replace('.edit-', ''), inputElement.value);
                console.log(formData)
            } else {
                alert('Ошибка в поле ' + field.inputSelector + ': ' + errorMessage);
                return; // Прекращаем выполнение функции, если есть ошибка
            }
        }

        // Отправляем AJAX запрос
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/saveDataOrg', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                alert('Данные успешно сохранены!');
            } else {
                alert('Произошла ошибка при сохранении данных.');
            }
        };
        xhr.onerror = function () {
            alert('Произошла ошибка при отправке запроса.');
        };
        xhr.send(formData);
    }

    function validateInput(inputElement, inputSelector) {
        var value = inputElement.value.trim();
        switch (inputSelector) {
            case '.edit-surname':
            case '.edit-name':
            case '.edit-patronymic':
                return /^[a-zA-Zа-яА-Я -]+$/.test(value) ? '' : 'Имя, Фамилия и Отчество могут содержать только буквы и символ "-"';
            case '.edit-email':
                return /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/.test(value) ? '' : 'Неверный формат email';
            case '.edit-phone':
                return /^\+?[0-9]{11,12}$/.test(value) ? '' : 'Номер телефона должен состоять из цифр и необязательного символа "+"';
            case '.edit-fullname':
            case '.edit-shortname':
                return /^[a-zA-Zа-яА-ЯёЁ\s\-\'\"]+$/.test(value) ? '' : 'Полное и краткое имя организации могут содержать только буквы, а также ковычки и дефис';
            case '.edit-inn':
                return /^[0-9]{10,10}$/.test(value) ? '' : 'ИНН должен содержать 10 цифр';
            case '.edit-kpp':
                return /^[0-9]{9,9}$/.test(value) ? '' : 'КПП должен содержать 9 цифр';
            case '.edit-ogrn':
                return /^[0-9]{13,13}$/.test(value) ? '' : 'ОГРН должен содержать 13 цифр';
            default:
                return '';
        }
    }

    var fields = [
        { textSelector: '.org_profile_secondname .org_profile_txt', inputSelector: '.edit-surname' },
        { textSelector: '.org_profile_name .org_profile_txt', inputSelector: '.edit-name' },
        { textSelector: '.org_profile_thirdname .org_profile_txt', inputSelector: '.edit-patronymic' },
        { textSelector: '.org_profile_email .org_profile_txt', inputSelector: '.edit-email' },
        { textSelector: '.org_profile_phone .org_profile_txt', inputSelector: '.edit-phone' },
        { textSelector: '.org_profile_fullname .org_profile_txt', inputSelector: '.edit-fullname' },
        { textSelector: '.org_profile_shortname .org_profile_txt', inputSelector: '.edit-shortname' },
        { textSelector: '.org_profile_discription .org_profile_txt', inputSelector: '.edit-dscrpt' },
        { textSelector: '.org_profile_inn .org_profile_txt', inputSelector: '.edit-inn' },
        { textSelector: '.org_profile_kpp .org_profile_txt', inputSelector: '.edit-kpp' },
        { textSelector: '.org_profile_ogrn .org_profile_txt', inputSelector: '.edit-ogrn' }
    ];

    var saveButton = document.querySelector('.org_profile_info_button button');

    function toggleEdit() {
        fields.forEach(function (field) {
            var textElement = document.querySelector(field.textSelector);
            var inputElement = document.querySelector(field.inputSelector);

            if (inputElement.classList.contains('hidden')) {
                textElement.classList.add('hidden');
                inputElement.classList.remove('hidden');
                inputElement.value = textElement.textContent.trim();
            } else {
                textElement.classList.remove('hidden');
                inputElement.classList.add('hidden');
                textElement.textContent = inputElement.value.trim();
            }
        });

        if (saveButton.textContent === 'Изменить данные') {
            saveButton.textContent = 'Сохранить';
        } else {
            saveButton.textContent = 'Изменить данные';
            saveData();
        }
    }
</script>