<div class="org">
    {{#each organization}}
        <div>
            <p>{{this.organization_id}}</p>
            <h1>{{this.organization_id}}</h1>
            <div>{{this.organization_full_name}}</div>
            <h2>{{this.inn}}</h2>
            {{#if this.profile_image}}
                <img class="card image" src="/upload/{{this.profile_image}}" alt="User Profile">
            {{else}}
            <img class="card image" src="/img/default.jpg" alt="User Profile">
            {{/if}}
        </div>
    {{/each}}
</div>
