{{#if success}}
  <h1>Успешно cоздан!</h1>
{{/if}}

<div class="org">
    {{#each organization}}
        <div>
            <h1>{{this.organization_full_name}}</h1>
            <h2>{{this.organization_id}}</h2>
            <p>{{this.inn}}</p>
            {{#if this.profile_image}}
                <img class="card image" style="width: 30%;" src="/upload/{{this.profile_image}}" alt="User Profile">
            {{else}}
            <img class="card image" src="/img/default.jpg" alt="User Profile">
            {{/if}}
        </div>
    {{/each}}
</div>
